@layer base {
  body { 
    @apply font-mono
  }
  h1 {
    @apply text-2xl italic;
  }
  h2 {
    @apply text-xl;
  }

  a {
    color: DarkSlateBlue;

    a:visited {
      color: inherit;
    }
  }

  /* assumes pre only surrounds code blocks */
  pre {
    background-color: LightSteelBlue;
    @apply mx-4;
  }

  code {
    font-size: large;
  }
}

